section.contacts
  .contacts__datas
    h2.title.contacts__title Контакты
    .contacts__item
      .contacts__name Адрес
      .contacts__row.contacts__row--fs
        img.contacts__icon.contacts__icon--mt(src="img/svg/icon-marker.svg" alt="@")
        span.contacts__val г.&nbsp;Краснодар #[br] ул.&nbsp;Бабушкина&nbsp;110, офис&nbsp;4 
        
    .contacts__item
      .contacts__name Контакты
      .contacts__row.contacts__row--mb
        img.contacts__icon(src="img/svg/icon-email.svg" alt="@")
        a.contacts__val(href="mailto:ra-matina@mail.ru") ra-matina@mail.ru
      .contacts__row.contacts__row--mb
        img.contacts__icon(src="img/svg/icon-phone.svg" alt="@")
        a.contacts__val(href="tel:88612463336") 8 (861) 246-33-36
      .contacts__row
        img.contacts__icon(src="img/svg/icon-phone.svg" alt="@")
        a.contacts__val(href="tel:89014904646") 8 (901) 490-46-46
        
  .contacts__form
    img.contacts__pic(src="img/email.png", alt="@")
    include ./../sections/_form.pug